*{
    font-family: Microsoft JhengHei;
}
body{
    background-color: #fdf1ec;
}
img{
    height: 80px;
}

.ml-6{
    margin-left: 120px;
}

.product-img {
    height: 250px;
    background-size: cover;
    background-position: center;
}
.text-red{
    color: blueviolet;
}
.lineThrough{
    text-decoration: line-through;
}
.card{
    text-align: center;
    transition: all 250ms cubic-bezier(.02, .01, .47, 1);
}

.card:hover{
    box-shadow:0 16px 32px 0 rgba(48, 55, 66, 0.15);
    transform: translate(0, -5px);
    transition-delay: 0s !important;
}


.loading-background
{
    z-index: 9999;
    background-color: rgba(238, 238, 238, 0.5);
    top: 0;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
}